<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- 日志文件组件-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!-- 日志文件配置-->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="logs/dd/%date.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\\smartaccess.log" />
      <param name="AppendToFile" value="true" />
      <!--最大变换数量-->
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <!--最大文件大小-->
      <param name="MaximumFileSize" value="10MB" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <param name="RollingStyle" value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger MapConnectStringproperty{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!---Sql Server 数据库配置-->
    <add key="SqlServerConnectString" value="FE9v0RMJOo7IzoKn5sTD5g8Fuvy+05eg/LDwHBrTPZNizPZBfeyYlXYJCgIL8FDRASLw0wanoAuEsH53viHuheEXCPHeTtUmSViIPdm0K4WKc/lQri0tyJrVH0sGkYOOADJfHRES6BHjf0TZdj+jKuQiTl7lCbL1epd+fJU3JFw+2g+xBnivarg22JAwb7XH7ynwfUKOJflzXNbADZYMH3PBldT1p+OQYN3Rj5EvIAYW1SIISlo9O6RTj334ioWY/q9Uz/q8Zr48cAmIHgqbl66hO/cVAa4+f/vQtz1D93t6YffuT5cc5SwTO0Ac/zG2CN5uxyee201vS0qUA2sqSapysqpBfXX7TZch3x0PEzs=" />
    <!--发卡器配置：格式 COM=[端口号],BUAD=[波特率],MODE=[发卡器型号] -->
    <add key="CARD_ISSUE_CONFIG" value="COM=3,BUAD=14400,MODEL=MF800A" />
    
    <!--卡片介质与发卡器关联表 格式： "CARD=[NAME],MODEL=[MODEL]; CARD=[NAME1],MODEL=[MODEL1] "-->
    <add key="CARD_ISSUE_DIC" value="CARD=IC加密卡,MODEL=HY_EM800A;CARD=CPU卡,MODEL=USB_INTCARD"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--系统样式-->
    <add key="SysStyle" value="Office2010Black"/>
    <!--智能门禁管理系统-->
    <add key="SysName" value="智能综合管理系统"/>
    <!--主界面标题-->
    <add key="SysTitle" value="智能综合管理系统，你的好管家！"/>
    <!--主界面欢迎界面标题-->
    <add key="SysWelcomeText" value="欢迎使用智能综合管理系统"/>
    <!--是否启用加密狗功能：false 不启用，true 启用-->
    <add key="DogEnable" value="false"/>

    <!--记住用户名-->
    <add key="RememberUser" value="false"/>
    <!--记住密码-->
    <add key="RememberPwd" value="false"/>
    <!--上次登陆用户名-->
    <add key="LastLoginUser" value=""/>
    <!--上次登陆密码-->
    <add key="LastLoginPwd" value=""/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>