<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- 日志文件组件-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net>
		<!-- 日志文件配置-->
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs\\smartacsservice.log" />
			<param name="AppendToFile" value="true" />
			<!--最大变换数量-->
			<param name="MaxSizeRollBackups" value="50" />
			<param name="StaticLogFileName" value="false" />
			<!--最大文件大小-->
			<param name="MaximumFileSize" value="10MB" />
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
			<!--混合使用日期和文件大小变换日志文件名-->
			<param name="RollingStyle" value="Size" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger MapConnectStringproperty{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>

	<appSettings>
		<!---Sql Server 数据库配置-->
		<add key="SqlServerConnectString" value="Server=.;Database=SmartAccess;User ID=sa;Password=123456;Trusted_Connection=False"/>
		<!--记录读取频率：单位秒，最低不低于1s，建议3s,最高不高于60s-->
		<add key="RecordReadInterval" value="3"/>
		<!--报警转发端口-->
		<add key="AlarmPort" value="56010"/>
		<!--富盈人脸FY 服务端口,默认6000-->
		<add key="FyFaceServerPort" value="6000"/>
		
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
	<system.serviceModel>
		<services>
			<service name="Li.SmartAcsServer.AcsService" behaviorConfiguration="rest">
				<endpoint address="" binding="webHttpBinding" contract="Li.SmartAcsServer.IAcsService" behaviorConfiguration="rest">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8766/smartaccessserver"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior >
					<!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
					<serviceMetadata httpGetEnabled="True"/>
					<!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 -->
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
				<behavior name="rest">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"  httpHelpPageEnabled="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="rest">
					<webHttp helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
